body{
  background-color: #2E073F;
  color: #AD49E1;
  text-align: center;
  }
h1{
  color: #7A1CAC
}
h2{
  color: #7A1CAC
}
h2{
  color: #7A1CAC
}
button{
  background-color: #AD49E1;
  color: #7A1CAC;
  font-weight: bold;
}
.input{
  background-color: #AD49E1;
  color: #7A1CAC;
}
